name: deploy-ncr-dashboard

on:
  workflow_dispatch:
    branches:
      - main

jobs:
  build-n-deploy:
    name: Build and deploy ncr-dashboard to shinyapps.io cloud
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.9.14"

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ">=3.11" 
        architecture: 'x64'

    - name: Install the project
      run: uv sync --all-extras

    - name: Write env variables
      run: uv run tbx write-env -c GA_ID ${{ secrets.GA_ID}} --force-write

    - name: Write requirements.txt file
      run: uv run tbx write-req --force-write

    - name: Configure rsconnect-python
      run: uv run rsconnect add --account ${{ secrets.ACCOUNT }} --name ${{ secrets.NAME }} --token ${{ secrets.TOKEN }} --secret ${{ secrets.SECRET }}

    - name: Deploy application to shiny cloud
      run: uv run rsconnect deploy shiny . --name ${{ secrets.NAME }} --title ncr-data-dashboard --app-id ${{ secrets.APP_FIRST_DEPLOYMENT_ID }}
